body{
    background-color:#fafafa;
    font-size: 20px;
    font-family: SansSerif, serif;
}
.assignment_form {
    width: 500px;
    float: left;
    background-color: honeydew;
    padding: 20px;
    margin-right: 30px;
}
#assignment_invoice {
    width: 700px;
    float: left;
    background-color: antiquewhite;
}
input{
    padding: 5px;
    margin: 8px;
    box-sizing: border-box;
}
.info {
    margin-bottom: 20px;
}
.form_field {
    margin-bottom: 15px;
}
.input_info {
    width: 300px;
    height: 36px;
}
label{
    width: 25%;
    display: inline-block;
    font-size: 20px;
}
select{
    width: 100%;
    padding: 5px;
    margin: 8px;
    box-sizing: border-box;
}
input[type="submit"]{
    font-size: 22px;
    background-color: dimgray;
    color: white;
    padding: 12px 40px;
}
#error_messages {
    color: red;
}
.invoice_data {
    padding: 10px 20px;
    margin: 0;
}
.invoice_label {
    width: 300px;
    display: inline-block;
}
h2 {
    text-align: center;
}
